<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:8889/christaB_db_Users</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <mapping class="com.bafagroupe.christab_security.entities.AppRole"/>
      <mapping class="com.bafagroupe.christab_security.entities.AppUser"/>
      <mapping class="com.bafagroupe.christab_security.entities.AppUserRoles"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>